.tictactoe {
    padding: 1%;
    background-color: rgb(95, 61, 61);
    margin: auto;
}

input[type=button] {
    height: 200px;
    width: 200px;
    font-size: large;
}
input:active{
    color: rgb(255, 255, 255);
}

#restart {
    background-color: rgb(45, 125, 216);
    height: 25%;
}